In [2]:
file = open('./data/Abc1115.csv','r')
lines = file.readlines() #line 을 모두 가져온다.
file.close()

In [3]:
len(lines)

1000

In [10]:
lines[0:3]

['990001,addx, 17, 29, 16, 49, 43,154,C,A,C\n',
 '990002,stch, 30,  9, 48, 25, 81,193,C,A,A\n',
 '990003,gali, 93, 60,  6, 84, 36,279,A,C,A\n']

In [16]:
temp = lines[0][0:-1].split(',')
print(temp)
for val in temp[:8]:
    val = val.strip()
    if val.isdigit():
        print(val)
        pass
    pass

print(temp)

['990001', 'addx', ' 17', ' 29', ' 16', ' 49', ' 43', '154', 'C', 'A', 'C']
990001
17
29
16
49
43
154
['990001', 'addx', ' 17', ' 29', ' 16', ' 49', ' 43', '154', 'C', 'A', 'C']

In [20]:
student_info = []
for n in range(1000):
    temp = lines[n][0:-1].split(',')
    #print(temp)
    for index in range(8):
        val = temp[index].strip()
        if val.isdigit():
#             print(val)
            temp[index] = int(val)
            pass
        pass
    student_info.append(temp)

print(len(student_info))

1000

In [21]:
student_info[0:10]

[[990001, 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C'],
 [990002, 'stch', 30, 9, 48, 25, 81, 193, 'C', 'A', 'A'],
 [990003, 'gali', 93, 60, 6, 84, 36, 279, 'A', 'C', 'A'],
 [990004, 'miat', 73, 22, 48, 24, 72, 239, 'B', 'C', 'C'],
 [990005, 'oran', 33, 38, 59, 58, 28, 216, 'C', 'B', 'A'],
 [990006, 'sj24', 27, 65, 54, 77, 33, 256, 'B', 'A', 'A'],
 [990007, 'kor2', 33, 85, 98, 60, 66, 342, 'A', 'B', 'A'],
 [990008, 'vsky', 41, 5, 99, 14, 67, 226, 'C', 'A', 'C'],
 [990009, 'kimd', 74, 4, 1, 33, 53, 165, 'B', 'C', 'A'],
 [990010, 'blue', 55, 84, 50, 89, 37, 315, 'A', 'B', 'A']]

In [22]:
len(student_info)

1000

In [27]:
a = [1,2,3]
b = [2,3,4]
c = [3,4,5]

In [28]:
mylist = [a,b,c]

In [29]:
mylist

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [30]:
len(mylist)

3

In [32]:
mylist[0][1]

2

In [33]:
student_info[200][2]#인덱스2번은 국어점수

1

In [34]:
total = 0
for idx in range(1000):
    total = total + student_info[idx][2]
    pass
average = total/1000
print(average)

50.026

In [35]:
total = 0
for line in student_info:
    total = total + line[2]
    pass
average = total/1000
print(average)

50.026

In [36]:
#해당과목의 평균을 구한다.
def get_subject_avg(subject):
    average = None
    total = 0
    for line in student_info:
        total = total + line[subject]
        pass
    average = total/1000
    return average

In [38]:
result = get_subject_avg(2)
print("{:.1f}".format(result))

50.0

In [39]:
subject_keys = {'국어':2,'영어':3,'수학':4,'과학':5,'국사':6,'총점':7}

In [40]:
#해당과목의 평균을 구한다.
def get_subject_avg_v2(subject): #subject는 인덱스가 아닌 과목명
    average = None
    #subject가 인덱스로 변경되어야 함.
    index = subject_keys[subject]
    total = 0
    for line in student_info:
        total = total + line[index]
        pass
    average = total/1000
    return average

In [43]:
result = get_subject_avg_v2('국사')
print("{:.1f}".format(result))

50.9

In [47]:
#지역코드에 따른 과목의 평균구하기
def get_subject_avg_v3(code_value,subject): #subject는 인덱스가 아닌 과목명
    average = None
    #subject가 인덱스로 변경되어야 함.
    index = subject_keys[subject]
    total = 0
    count = 0
    for line in student_info:
        if line[10] == code_value:
            total = total + line[index]
            count = count + 1
            pass
    average = total/count
    return average

In [48]:
result = get_subject_avg_v3('C','과학')
print(result)

50.13333333333333

In [50]:
#중간결과로서 리스트의 일부분을 필요로 한다.
#어떤 과목점수가 90점 이상인 학생들 정보
def get_student_list(subject): #subject는 인덱스가 아닌 과목명
    student_list = []
    #subject가 인덱스로 변경되어야 함.
    index = subject_keys[subject]
    for line in student_info:
        if line[index]>= 90:
            student_list.append(line)
        pass
    return student_list

In [56]:
for subject in subject_keys:
    student_list = get_student_list(subject)
    print(len(student_list))
    print(student_list[:10])
    break

105
[[990003, 'gali', 93, 60, 6, 84, 36, 279, 'A', 'C', 'A'], [990019, 'popy', 95, 65, 65, 29, 75, 329, 'B', 'A', 'C'], [990032, 'sonn', 90, 18, 84, 18, 80, 290, 'C', 'B', 'B'], [990033, 'mrsw', 90, 71, 9, 16, 57, 243, 'B', 'C', 'A'], [990034, 'soyo', 100, 39, 44, 89, 88, 360, 'A', 'C', 'A'], [990043, 'ksg6', 90, 13, 19, 22, 91, 235, 'A', 'B', 'C'], [990044, 'lks5', 91, 12, 4, 73, 13, 193, 'A', 'B', 'A'], [990051, 'soor', 94, 98, 85, 64, 75, 416, 'A', 'B', 'A'], [990052, 'onta', 95, 1, 69, 84, 42, 291, 'B', 'C', 'B'], [990063, 'bank', 98, 50, 77, 27, 83, 335, 'C', 'A', 'C']]

In [57]:
test_numbers = [56,1,84,89,20,41,3,69,90,68]
#target수의 변화
for num1 in range(len(test_numbers)-1):
    #check number의 변화
    for num2 in range(num1+1,len(test_numbers)):
        if test_numbers[num1] > test_numbers[num2]:
            temp = test_numbers[num1]
            test_numbers[num1] = test_numbers[num2]
            test_numbers[num2] = temp
            pass
        pass
    pass

print(test_numbers)

[1, 3, 20, 41, 56, 68, 69, 84, 89, 90]

In [67]:
test_numbers = [56,1,84,89,20,41,3,69,90,68]

In [73]:
print(test_numbers)
a = sorted(test_numbers)
print('result = ',a)

[1, 3, 20, 41, 56, 68, 69, 84, 89, 90]
result =  [1, 3, 20, 41, 56, 68, 69, 84, 89, 90]

In [70]:
print(test_numbers)

[56, 1, 84, 89, 20, 41, 3, 69, 90, 68]

In [71]:
sort_result = test_numbers.sort()
print(sort_result)

None

In [72]:
print(test_numbers)

[1, 3, 20, 41, 56, 68, 69, 84, 89, 90]