In [2]:
def print_number(n1,n2):
    for i in range(n1,n2+1):
        print(i)

In [6]:
a = input('input number1 please >>> ')
b = input('input number2 please >>> ')
# print(a)
a = int(a)
b = int(b)
print_number(a,b)

input number1 please >>> 1
input number2 please >>> 5
1
2
3
4
5

In [3]:
print_number(1,10)

1
2
3
4
5
6
7
8
9
10

In [7]:
input('a')

a10

'10'

In [64]:
#230페이지 보세요
number = 12345
for i in range(5):
    split_number = number % 10
    print(split_number*3)
    number = number // 10

15
12
9
6
3

In [17]:
number = 1
while True:
    split_number = number % 10
    print(split_number)
    number = number // 10
    if number==0:
        break

1

In [14]:
number = 98654
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()

4
9865

5
986

6
98

8
9

9
0

In [35]:
#중첩 for문
m=2 #2~9
for _ in range(8):
   
    n = 0
    for _ in range(9):
        n = n + 1
        print(m,'X',n,'=',m*n)
    print()
    m = m + 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [34]:
#중첩 for문

for m in range(2,9+1):  
    for n in range(1,9+1):
        print(m,'X',n,'=',m*n)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [41]:
for m in range(2,9+1):  
    if m % 3 == 0:
        continue
    for n in range(1,9+1):
        print("{} X {} = {:2}".format(m,n,m*n))
    print()
#     break

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

4 X 1 =  4
4 X 2 =  8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 =  5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

7 X 1 =  7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 =  8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [46]:
word = "hello~ world!"
print(word.upper())
a = word.upper()
print(a)
word = word.upper()
print(word)

HELLO~ WORLD!
HELLO~ WORLD!
HELLO~ WORLD!

In [54]:
a = " hello world "
print(len(a))
b = a.strip()
print(len(b))

13
11

In [52]:
for letter in "hello":
    print(letter)

h
e
l
l
o

In [53]:
len("hello")

5

In [55]:
word = "hello"
print(word)

hello

In [56]:
word[0]

'h'

In [57]:
word[1]

'e'

In [58]:
word[4]

'o'

In [59]:
for n in range(5):
    print(word[n])#n->0~4

h
e
l
l
o

In [66]:
number = "123"
for num in number:
    print(int(num)*3)

3
6
9

In [67]:
def split_number(number):
    for num in number:
        print(int(num)*3)

In [68]:
split_number("1234")

3
6
9
12

In [71]:
word = "Hello world"
#       01234567890
print(word[0:4+1])

Hello

In [73]:
for m in range(2,9+1):  
    if m % 3 == 0:
        continue
    for n in range(1,9+1):
        print(f"{m} X {n} = {m*n}")
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [74]:
#어떤 년도의 2월이 윤년인지 평년인지 판별하여 마지막 날을 결정한다.
#28,29
#년도를 400으로 나누어 떨어지거나
#년도를 4로 나누어 떨어지고 100으로 나누어 떨어지지 않는 경우
#2000년도가 윤년인지 평년인지 판별하는 코드 작성

In [77]:
# year = 2000
#is_leap_year
def is_leap_year(year):
    if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0) :
        print('윤년')
    else :
        print('평년')

In [79]:
#get_feb_lastday ->년도를 받아 윤년이면 29리턴, 아니면 28리턴
def get_feb_lastday(year):
    lastday = 0
    if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0) :
        lastday = 29
    else :
        lastday = 28
        
    return lastday

In [80]:
result = get_feb_lastday(2022)
print(result)

28

In [78]:
for i in range(2000,2022+1):
    is_leap_year(i)

윤년
평년
평년
평년
윤년
평년
평년
평년
윤년
평년
평년
평년
윤년
평년
평년
평년
윤년
평년
평년
평년
윤년
평년
평년

In [82]:
for i in range(10):
    if a == 10:
        
        pass
    else :
        
        pass
    
    pass