In [1]:
file = open('./data/Abc1115.csv','r')
lines = file.readlines()
file.close()

In [2]:
len(lines)

1000

In [47]:
prop_keys = {'학번':0,'이메일':1,'국어':2,'영어':3,'수학':4,'과학':5,'국사':6,'총점':7,'담임코드':8,'성취도':9,'지역코드':10}

In [11]:
student_info = []
for line in lines:
    temp = line[:-1].split(',')
#     print(temp)
    for index in range(8):
        if temp[index].strip().isdigit():
            temp[index] = int(temp[index])
    student_info.append(temp)
    pass

# student_info

In [48]:
quiz1 = []
for student in student_info:
#     print(student)
    if student[10] == 'B':
        temp = [student[prop_keys['학번']],student[prop_keys['국어']],student[prop_keys['영어']],student[prop_keys['국어']]+student[prop_keys['영어']],student[prop_keys['지역코드']]]
        quiz1.append(temp)
    pass

# quiz1[:3]

In [49]:
len(quiz1)

300

In [50]:
#quiz1에 대하여 4번째 자료 기준으로 내림차순하시오.
for idx1 in range(len(quiz1)-1):
    for idx2 in range(idx1+1, len(quiz1)):
        if quiz1[idx1][3] < quiz1[idx2][3]:
            temp = quiz1[idx1]
            quiz1[idx1] = quiz1[idx2]
            quiz1[idx2] = temp
            pass
        elif quiz1[idx1][3] == quiz1[idx2][3]:
            if quiz1[idx1][0] > quiz1[idx2][0]:
                temp = quiz1[idx1]
                quiz1[idx1] = quiz1[idx2]
                quiz1[idx2] = temp
        pass
    pass
print(quiz1[:3])
print(quiz1[4][0])

[[990949, 97, 95, 192, 'B'], [990422, 93, 97, 190, 'B'], [990938, 100, 87, 187, 'B']]
990490

In [27]:
quiz2 = []
for student in student_info:
    if student[10] == 'B':
        temp = student[2]+student[3]
        quiz2.append(temp)
        pass
    pass

In [28]:
quiz2[:10]

[108, 157, 114, 69, 14, 78, 108, 68, 60, 91]

In [30]:
max = quiz2[0]
for value in quiz2[1:]:
    if max < value:
        max = value
        pass
    pass

print(max)

192

In [37]:
quiz3 = []
for student in student_info:
    if student[3]+student[4] >= 120:
        if student[9] == 'A':
            point = 5
        elif student[9] == 'B':
            point = 15
        elif student[9] == 'C':
            point = 20
        temp = [student[3],student[4],student[7],student[9],point]
        quiz3.append(temp)
    pass

In [38]:
quiz3[:3]

[[85, 98, 342, 'B', 15], [84, 50, 315, 'B', 15], [69, 68, 295, 'A', 5]]

In [39]:
len(quiz3)

316

In [40]:
total = 0
for value in quiz3:
    total = total + (value[2]+value[4])
    pass
print(total)

99549

In [46]:
quiz4 = []
for student in student_info:
    if student[9] == 'A' or student[9] == 'B':
        if student[10] == 'A':
            point = 5
        elif student[10] == 'B':
            point = 10
        elif student[10] == 'C':
            point = 15
        temp = [student[2],point,student[9],student[10]]
        quiz4.append(temp)
        pass

print(len(quiz4))
# quiz4[:10]

667

In [45]:
count  = 0
for value in quiz4:
    if value[0]+value[1] >= 50:
        count = count + 1
        pass
    pass

print(count)

397

In [68]:
import calendar
#만년달력 만들기는 20분부터 합니다.
def view_month_complete(year,month):
    (data1,data2) = calendar.monthrange(year,month)
#     print(data1,data2)
    #년도와 월을 출력
    print("{}년 {}월".format(year,month))
    print("일\t월\t화\t수\t목\t금\t토")
    #날이(일자) 제자리에 와야 합니다. -->1일의 요일, 말일의 날수
    space = (data1+1)%7
    last_day = data2
    for _ in range(space):
        print('\t',end='')
        pass
    
    for day in range(1,last_day+1):
        print(day,end='\t')
        if (space+day)%7==0:
            print()#선택적으로 실행
        
        pass
    pass

In [69]:
view_month_complete(2022,5)

6 31
2022년 5월
일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31