In [3]:
#크기,추가,삭제,조회,변경
my_list = []
size = len(my_list)
print(size)

0

In [7]:
my_list.append(1)
my_list.append(2)
my_list.append(3)

In [8]:
size = len(my_list)
print(size)

4

In [9]:
my_list

[1, 1, 2, 3]

In [10]:
del my_list[0]

In [11]:
my_list

[1, 2, 3]

In [12]:
value = my_list.pop()

In [13]:
print(value)

3

In [14]:
my_list

[1, 2]

In [15]:
my_list.append(3)

In [16]:
my_list

[1, 2, 3]

In [17]:
my_list[0]

1

In [18]:
my_list[1]

2

In [19]:
my_list[2]

3

In [55]:
my_list[2] = 30

In [20]:
for i in my_list:
    print(i)

1
2
3

In [21]:
my_dic = {}
len(my_dic)

0

In [23]:
my_dic['one'] = 1
my_dic['tow'] = 2
my_dic['three'] = 30

In [24]:
len(my_dic)

3

In [25]:
my_dic['four'] = 4

In [26]:
my_dic

{'one': 1, 'tow': 2, 'three': 30, 'four': 4}

In [27]:
del my_dic['four']

In [28]:
my_dic

{'one': 1, 'tow': 2, 'three': 30}

In [29]:
my_dic['three']

30

In [34]:
my_dic['three'] = 3
my_dic['two'] = 2

In [31]:
my_dic['three']

3

In [32]:
my_dic

{'one': 1, 'tow': 2, 'three': 3}

In [44]:
for key in my_dic:
#     print(key)
#     print(my_dic[key])
    print("key = {}, value={}".format(key,my_dic[key]))#코드를 완성하시오

key = one, value=1
key = three, value=3
key = two, value=2

In [38]:
del my_dic['tow']

In [39]:
my_dic

{'one': 1, 'three': 3, 'two': 2}

In [47]:
range(10)#0~9를 내부적으로 생성하여 가지고 있음
numbers = list(range(1,10+1))

In [48]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
#위의 numbers를 섞어서 출력하시오
#인덱스가 0~9인 임의수 2개를 생성해서 
#해당 자리의 데이터를 교환하다.
#위의 작업을 적절히 반복한다.(10번)
import random
index1 = random.randrange(0,9+1)
index2 = random.randrange(0,9+1)
print(index1,index2)

4 8

In [53]:
for _ in range(10):
    index1 = random.randrange(0,9+1)
    index2 = random.randrange(0,9+1)
    temp = numbers[index1]
    numbers[index1] = numbers[index2]
    numbers[index2] = temp

print(numbers)

[9, 5, 7, 10, 4, 8, 6, 1, 3, 2]

In [63]:
numbers = numbers[:5]

In [68]:
for idx1 in range(len(numbers)-1):
    #print(idx1)
    for idx2 in range(idx1+1,len(numbers)):
        if numbers[idx1] < numbers[idx2]:
            temp = numbers[idx1];
            numbers[idx1] = numbers[idx2]
            numbers[idx2] = temp
        #print(idx1,idx2)
    #print()
    
print(numbers)

[10, 9, 7, 5, 4]

In [69]:
path = './data/Abc1115.csv'
file = open(path,'r')
lines = file.readlines()
len(lines)

1000

In [72]:
type(lines)
lines[0:10]

['990001,addx, 17, 29, 16, 49, 43,154,C,A,C\n',
 '990002,stch, 30,  9, 48, 25, 81,193,C,A,A\n',
 '990003,gali, 93, 60,  6, 84, 36,279,A,C,A\n',
 '990004,miat, 73, 22, 48, 24, 72,239,B,C,C\n',
 '990005,oran, 33, 38, 59, 58, 28,216,C,B,A\n',
 '990006,sj24, 27, 65, 54, 77, 33,256,B,A,A\n',
 '990007,kor2, 33, 85, 98, 60, 66,342,A,B,A\n',
 '990008,vsky, 41,  5, 99, 14, 67,226,C,A,C\n',
 '990009,kimd, 74,  4,  1, 33, 53,165,B,C,A\n',
 '990010,blue, 55, 84, 50, 89, 37,315,A,B,A\n']

In [85]:
#lines를 한 줄씩 출력하시오
#한줄을 ,로 분리하고 분리한 것을 리스트에 추가하는 코드 작성
student_info = []
for line in lines:
    temp = line[0:-1].split(',')
    #temp가 가지는 원소중 숫자를 골라서 int()를 이용하여 정수로 수정한다.
    for i in range(8):
        if i == 1:
            continue
        temp[i] = int(temp[i])
    student_info.append(temp)
#     print(temp)
#     break

In [86]:
student_info[:10]

[[990001, 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C']]

In [90]:
student_info = []
for line in lines:
    temp = line[0:-1].split(',')
    #temp가 가지는 원소중 숫자를 골라서 int()를 이용하여 정수로 수정한다.
    for i in range(8):
        if temp[i].strip().isnumeric():
            temp[i] = int(temp[i])
    student_info.append(temp)

In [91]:
student_info[:10]

[[990001, 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C'],
 [990002, 'stch', 30, 9, 48, 25, 81, 193, 'C', 'A', 'A'],
 [990003, 'gali', 93, 60, 6, 84, 36, 279, 'A', 'C', 'A'],
 [990004, 'miat', 73, 22, 48, 24, 72, 239, 'B', 'C', 'C'],
 [990005, 'oran', 33, 38, 59, 58, 28, 216, 'C', 'B', 'A'],
 [990006, 'sj24', 27, 65, 54, 77, 33, 256, 'B', 'A', 'A'],
 [990007, 'kor2', 33, 85, 98, 60, 66, 342, 'A', 'B', 'A'],
 [990008, 'vsky', 41, 5, 99, 14, 67, 226, 'C', 'A', 'C'],
 [990009, 'kimd', 74, 4, 1, 33, 53, 165, 'B', 'C', 'A'],
 [990010, 'blue', 55, 84, 50, 89, 37, 315, 'A', 'B', 'A']]